::ng-deep .dialog-logo .mat-dialog-container {
  border-radius: 40px;
}

img {
  cursor: pointer;
}

button {
  margin-top: 10px;
  margin-left: 130px;
  background-color: #6dc5ef;
  width: 129px;
  height: 35px;
  color: white;
  -webkit-box-shadow: 0 4px 6px -6px rgb(43, 42, 42);
}

mat-icon {
  padding-bottom: 5px;
  padding-right: 3px;
}